<h1><%= @hiker.name %></h1>

<% if @hiker.treks != nil %>
<ul>
  <% @treks.each do |trek| %>
  <li><%= link_to trek.name, hiker_trek_url(current_hiker.id, trek.id) %></li>
  <% end %>
</ul>
<% end %>

<p><%= link_to "Adventures Page", hiker_adventures_path(current_hiker.id) %></p>
