<h1><%= @hiker.name || @hiker.email %>'s Adventures</h1>

<% if @hiker.adventures != nil %>
  <ul>
  <% @adventures.each do |adventure| %>
  <p><%= link_to adventure.title, adventure_path(adventure), class: 'adv-link' %></p>
  <% end %>
  </ul>
<% end %>
