<h1><%= @hiker.name || @hiker.email %>'s Adventures</h1>

<% if @hiker.adventures != nil %>
  <ul>
  <% @adventures.each do |adventure| %>
  <p><%= link_to adventure.title, hiker_adventure_path(current_hiker.id, adventure.id) %></p>
  <% end %>
  </ul>
<% end %>
