<h1>All Adventures!</h1>
<p>view all your adventures</p>

<% @adventures.each do |adventure| %>
  <li><%= link_to adventure.title, hiker_adventure_path(adventure.hiker_adventure.id, adventure.id) %></li>
<% end %>

<!-- click on the link that has advenute title, then from there we can see all the treks associated with that adventure -->
