<div class="main">
  <h1>All Adventures</h1>

  <div class="all-adventures">
    <% @adventures.each do |adventure| %>
      <p><%= link_to adventure.title, hiker_adventure_path(adventure.hiker_adventure.id, adventure.id) %></p>
    <% end %>
  </div>
</div>
