<h1>All Adventures!</h1>
<p>view all your adventures</p>

<% @hikers.each do |hiker| %>
<li><%= link_to hiker.name, hiker_path(hiker.id) %></li>
<% end %>

<p><%= link_to "Create a new Trek!", new_hiker_trek_url(current_hiker.id) %></p>
<p>or</p>
<p><%= link_to "view all treks", hiker_treks_url(current_hiker.id)%></p>
