<div class="row content">
  <div class="col-sm-4 sidenav">
    <div class="main">
      <h1>
        All Adventures <br>
        <small><%= link_to "Create a new Adventure", new_adventure_path, class: "create-adventure" %></small>
      </h1>

      <div class="all-adventures">
        <% @adventures.each do |adventure| %>
        
          <p><%= link_to adventure.title, adventure_path(adventure), class: "show-adventure" %></p>
        <% end %>
      </div>
    </div>
  </div>

  <div class="col-sm-8 text-right main-column">
    <p><img class="resize" src="/engineer-summit.jpg"></p>
  </div>
</div>
