<h1><%= @adventure.title %></h1>
<h2><%= link_to 'New Trek', new_adventure_trek_path(@adventure) %></h2>

<ul>
  <% @adventure.treks.each do |trek| %>
  <p><%= link_to trek.name, adventure_trek_path(trek) %></p>
  <% end %>
</ul>
