<div class="main">
  <!-- <h1>All Treks</h1> -->

  <!-- <ul> -->
    <!-- <% @treks.each do |trek| %>
    <p><%#= link_to trek.name, adventures_trek_path(adventure.id, trek.id) %></p>
    <% end %>
  </ul> -->

  <div class="all-treks">
    <% @treks.each do |trek| %>
      <p><%= link_to trek.name, adventures_trek_path(trek), class: "show-trek" %></p>
    <% end %>
  </div>
</div>
